<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Koulen&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Judson&display=swap">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/favorites.css' %}">
    <link rel="stylesheet" href="{% static 'css/Heading.css' %}">
</head>
<body>
    {% include "HTML/navbar.html" %}

    <div class="center">
        <h1>Favorites</h1>

        <h2>Saved Links:</h2>
        <table>
            <thead>
                <tr>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody id="linkTableBody">
                <!-- Table rows will be dynamically added here -->
		{% for fav in favorites %}
		<tr>
			 <td><a href="{{ favorite.url }}" target="_blank">{{ favorite.url }}</a>\
			 </td> <td><a href="{{ favorite.url }}" target="_blank">{{ favorite.url }}</a></td>
		</tr>
		{% empty %}
		<tr>
                    <td colspan="3" style="text-align: center;">No favorites yet.</td>

                </tr>
		{% endfor %}
            </tbody>
        </table>

        <h2>Add New Link:</h2>
        <form id="linkForm">
            <label for="link"></label>
            <input type="text" id="link" name="link" required>
            <button type="submit">Add to Favorites</button>
        </form>
    </div>

    <script>
        document.getElementById('linkForm').addEventListener('submit', function(event) {
            // Prevent default form submission
            event.preventDefault();
            
            // Get the input value (link)
            var link = document.getElementById('link').value;
            
            // Create a new table row
            var newRow = document.createElement('tr');
            
            // Create a new table data (cell)
            var newData = document.createElement('td');
            
            // Create a new anchor (link) element
            var newLink = document.createElement('a');
            
            // Set the href attribute of the anchor
            newLink.setAttribute('href', link);
            
            // Set the text content of the anchor to the link
            newLink.textContent = link;
            
            // Append the anchor to the table data
            newData.appendChild(newLink);
            
            // Append the table data to the table row
            newRow.appendChild(newData);
            
            // Append the table row to the table body
            document.getElementById('linkTableBody').appendChild(newRow);
        });
    </script>
</body>
</html>