<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name ="viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=yes">

        <title>Your Generated Graph</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/Heading.css' %}">

    </head>
    <style>
      /* Styles for the logo image */
      .icon {
        height: 5vh;
        width: auto;
        object-fit: contain;
        display: inline-block;
        margin-right: 0.5vw;
        margin-left: 2vw;
      }
    </style>
    {% include "HTML/navbar.html" %}
    <body>
        <center>
          {% autoescape off %}
          {{ plot }}  

          <br><br/>
          {{ table }}
          {% endautoescape %}
          {% load static %}

        </center>
    </body>
</html>