<!DOCTYPE html>
<html>
  {% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com"
   crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,400;0,700;1,300&family=Judson&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/heading.css' %}">

  <title>Welcome to Standing Rock</title>
</head>

<body>

  <div class="banner">
      <div class="topnav">
        <img class="icon1" src='/static/images/Standing Rock Crest Logo.png'>
        <a href="">Home</a>
        <a href="/about">About Us</a>
        <a href="/contactus">Contact Us</a>
        <a href="/favorites">Favorites</a>
        <a href="/login">Sign Up/In</a>
      </div>
    <div class="content">
      <br></br><br></br>
      <center><h1 class="welcome">Taŋyáŋ yahí</h1></center>
      <center><div class="menu">
        <a href="/map"><button>Interactive Map</button></a>
        <a href="/maptabs"><button>Custom Graphs</button></a>
        <a href=""><button>Download Data</button></a>
      </div></center>
      <br></br>

      <p class="welcome_mssg">Welcome to our hub of environmental insight, made especially for Standing Rock Nation. Our site harnesses and displays information from various monitoring sites across North and South Dakota. View our interactive map, where you can effortlessly navigate through various data types and delve into detailed monthly graphs. Want to view more data? Our custom graph feature allows you to visualize data trends spanning across years. Ready to stay ahead of the curve? Join our community by creating a free account. Simply input your email, and unlock access to timely updates, ensuring you're always in the know. Welcome to a world of knowledge, empowerment, and environmental stewardship. Let's chart a sustainable future, together.</p></div>
  </div>

  </body>

</html>
