<!DOCTYPE html>
    <html>
      {% load static %}
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    
<link rel="stylesheet" href="./static/css/global.css" />
<link rel="stylesheet"  href="./static/css/index.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Plus Jakarta Sans:wght@500;600;700&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM Sans:wght@400&display=swap" />
<title>HDR Data Dashboard - Home</title>
    
    
    
    </head>
    <body>
    
    <div class="hdr-landingpage-v1">
      {% include "HTML/navbar.html" %}
      <div class = flex-cont>
      <div class="hdr-landingpage-v1-child"></div>
      
      <div class="image-card-1 card">
        <img class="placeholder-image-icon" alt="" src="./static/images/public/dam1.png">
        
      </div>
      <div class="contact-us-for ">Contact Us For More Questions at (email)</div>
      
      <b class="standing-rock-community">HDR Water Data Dashboard</b>
      <b class="services1">Services</b>
      <div class="image-card-2 card">
        <img class="placeholder-image-icon1" alt="" src="./static/images/public/gauge.png">
        
      </div>
      <div class="cards-row">
        <div class="master-content-card">
          <img class="image-replace-icon" alt="" src="./static/images/public/image-replace@2x.png">
          
          <div class="spacer">
            <div class="px">
            </div>
            <div class="text">32</div>
          </div>
          <div class="text-content">
            <h4 class="web-design">Interactive Maps</h4>
            <div class="spacer1">
              <div class="px">
              </div>
              <div class="text1">24</div>
            </div>
            <p class="paragraph">Click the learn more button to access the Interactive Maps page.</p>
            <div class="spacer1">
              <div class="px">
              </div>
              <div class="text1">24</div>
            </div>
            <a class="link" href="/map">
              <img class="line-roundedhome-icon" alt="" src="./static/images/public/line-roundedhome.svg">
              
              <div class="link-item">Learn more</div>
              <img class="line-roundedarrow-rigth" alt="" src="./static/images/public/line-roundedarrow-rigth.svg">
              
            </a>
          </div>
          <div class="spacer3">
            <div class="px">
            </div>
            <div class="text3">40</div>
          </div>
        </div>
        <div class="master-content-card">
          <img class="image-replace-icon" alt="" src="./static/images/public/image-replace1@2x.png">
          
          <div class="spacer">
            <div class="px">
            </div>
            <div class="text">32</div>
          </div>
          <div class="text-content">
            <h4 class="web-design">Custom Graphs </h4>
            <div class="spacer1">
              <div class="px">
              </div>
              <div class="text1">24</div>
            </div>
            <p class="paragraph">Click the learn more button to access the Custom Graphs page.</p>
            <div class="spacer1">
              <div class="px">
              </div>
              <div class="text1">24</div>
            </div>
            <a class="link" href="/maptabs">
              <img class="line-roundedhome-icon" alt="" src="./static/images/public/line-roundedhome.svg">
              
              <div class="link-item">Learn more</div>
              <img class="line-roundedarrow-rigth" alt="" src="./static/images/public/line-roundedarrow-rigth1.svg">
              
            </a>
          </div>
          <div class="spacer3">
            <div class="px">
            </div>
            <div class="text3">40</div>
          </div>
        </div>
        <div class="master-content-card">
          <img class="image-replace-icon" alt="" src="./static/images/public/image-replace2@2x.png">
          
          <div class="spacer">
            <div class="px">
            </div>
            <div class="text">32</div>
          </div>
          <div class="text-content">
            <h4 class="web-design">Favorites</h4>
            <div class="spacer1">
              <div class="px">
              </div>
              <div class="text1">24</div>
            </div>
            <p class="paragraph">Click the learn more button to access the Favorites page.</p>
            <div class="spacer1">
              <div class="px">
              </div>
              <div class="text1">24</div>
            </div>
            <a class="link" href="/favorites">
              <img class="line-roundedhome-icon" alt="" src="./static/images/public/line-roundedhome.svg">
              
              <div class="link-item">Learn more</div>
              <img class="line-roundedarrow-rigth" alt="" src="./static/images/public/line-roundedarrow-rigth.svg">
              
            </a>
          </div>
          <div class="spacer3">
            <div class="px">
            </div>
            <div class="text3">40</div>
          </div>
        </div>
      </div>
      <div class="text-card-1 card">
        <div class="frame2">
          <h3 class="what-are-our">What Are Our Goals?</h3>
          <div class="frame3">
            <div class="making-water-safer">Making Water Safer</div>
          </div>
          <p class="frame4">
            <div class="lorem-ipsum-dolor">Welcome to our hub of environmental insight, made especially for Standing Rock Nation. Our site harnesses and displays information from various monitoring sites across North and South Dakota. View our interactive map, where you can effortlessly navigate through various data types and delve into detailed monthly graphs. Want to view more data?  </div>
          </p>
        </div>
        <div class="auto-layout-horizontal">
          <button class="styleoutlined">
            <div><a href="/about">About Us</a></div>
          </button>
          </a>
        </div>
      </div>
      <div class="text-card-2 card">
        <div class="frame5">
          <div class="frame6">
            <div class="what-we-do">What We Do</div>
          </div>
          <div class="frame7">
            <div class="making-water-safer">Visualizing Data</div>
          </div>
          <p class="lorem-ipsum-dolor1">Home to both the Lakota and Dakota people, the Standing Rock Reservation contains land in both North and South Dakota bordering the Missouri River. They dedicate their community to the protection and development of their community, economy, technology and culture.</p>
        </div>
        <div class="auto-layout-horizontal1">
          <button class="stylefilled1">
            <div><a href="/map">Map</a></div>
          </button>
          <button class="styleoutlined1">
            <div><a href="/maptabs">Graphs</a></div>
          </button>
        </div>
      </div>
    </div>
    </div>
    
    
    
    
    </body>
  </html>