<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Standing Rock Environmental</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.5.0/mapbox-gl.css" rel="stylesheet" />
    {% load static %}
    <script src="{% static 'js/statistics.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/Heading.css' %}">
    {% include "HTML/navbar.html" %}

</head>
<body>
<style>
  #map { top: 20%; left: 10%; width: 80%; height: 80%}
  .modal {
  position: relative;
  top: 100vh; /* Position modal 100% from the top */
  left: 20%; /* Align modal with the left side of the screen */
  z-index: auto;
  display: none;
  width: 60%; /* Set modal width to 60% of the page */
  overflow-y: visible; /* Enable vertical scrolling if content exceeds modal height */
  padding: 20px;
  max-height: 400%; /* Set maximum height for modal */
  background-color: #fefefe;
  border: 1px solid #888;
  }
  .modal-content {
  width: 100%;
  max-width: 95%; /* Set maximum width for content within modal */
  margin: 0 auto; /* Center content horizontally */
  }
</style>
    <div id="map"></div>

    <!-- Legend -->
    <div id="map-legend">
      <h4>Legend</h4>
      <ul>
        <li><span class="dot" style="background-color: #140ceb;"></span>Dam</li>
        <li><span class="dot" style="background-color: #f91d1d;"></span>Gauge</li>
        <li><span class="dot" style="background-color: #057c37;"></span>Mesonet</li>
      </ul>
    </div>

    <!-- Hazen Modal -->
    <div id="Hazen" class="modal">
      <div class="modal-content"> 
        <span class="close">&times;</span>
      </div>
    </div>

    <!-- Stanton Modal -->
    <div id="Stanton" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>

<!-- Washburn Modal -->
<div id="Washburn" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>
</div>

<!-- Price Modal -->
<div id="Price" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>
</div>

<!-- Bismarck Modal -->
<div id="Bismarck" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>
</div>

<!-- Schmidt Modal -->
<div id="Schmidt" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
  </div>
</div>

<!-- Judson Modal -->
<div id="Judson" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

  </div>
</div>

<!-- Mandan Modal -->
<div id="Mandan" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

  </div>
</div>

<!-- Breien Modal -->
<div id="Breien" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>

  </div>
</div>

    <!-- Oahe Dam Modal -->
    <div id="Oahe" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br>

      </div>
    </div>
    
    <!-- Big Bend Modal -->
    <div id="BigBend" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br>
      </div>
    </div>
    
    <!-- Fort Randall Modal -->
    <div id="FortRandall" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br>
      </div>
    </div>
    
    <!-- Gavins Point Modal -->
    <div id="GavinsPoint" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br>
      </div>
    </div>
    
    <!-- Garrison Modal -->
    <div id="Garrison" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br>
      </div>
    </div>
    
    <!-- Fort Peck Modal -->
    <div id="FortPeck" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br>
      </div>
    </div>

    <!-- Fort Yates Modal -->
    <div id="FortYates" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br><br>
      </div>
    </div>
    
    <!-- Mott Modal -->
    <div id="Mott" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br><br>
      </div>
    </div>
    
    <!-- Carson Modal -->
    <div id="Carson" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br><br>

      </div>
    </div>
    
    <!-- Linton Modal -->
    <div id="Linton" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span><br><br>

      </div>
    </div>

    <!-- Cash Modal -->
    <div id="Cash" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>
    
    <!-- Wakpala Modal -->
    <div id="Wakpala" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>
    
    <!-- Whitehorse Modal -->
    <div id="Whitehorse" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
 
      </div>
    </div>
    
    <!-- Little Eagle Modal -->
    <div id="LittleEagle" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>

    <!-- Lemmon Modal -->
    <div id="Lemmon" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>
    
    <!-- McIntosh Modal -->
    <div id="McIntosh" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>
    
    <!-- Mclaughlin Modal -->
    <div id="Mclaughlin" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>
    
    <!-- Mound City Modal -->
    <div id="Mound City" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>
    
    <!-- Timber Lake Modal -->
    <div id="Timber Lake" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
      </div>
    </div>
    
    <!-- Close Button -->
    <span class="close">&times;</span>
    
    </div>
    </div>
    {% load static %}
    <script>

const HazenURLS = [
    "{% static 'graphs/Elevation at Hazen.html' %}",
    "{% static 'graphs/Hazen Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Hazen.html' %}",
    "{% static 'graphs/Hazen Gauge Height Table.html' %}",
    "{% static 'graphs/Discharge at Hazen.html' %}",
    "{% static 'graphs/Hazen Discharge Table.html' %}"
];

const StantonURLS = [
    "{% static 'graphs/Elevation at Stanton.html' %}",
    "{% static 'graphs/Stanton Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Stanton.html' %}",
    "{% static 'graphs/Stanton Gauge Height Table.html' %}"
];

const WashburnURLS = [
    "{% static 'graphs/Elevation at Washburn.html' %}",
    "{% static 'graphs/Washburn Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Washburn.html' %}",
    "{% static 'graphs/Washburn Gauge Height Table.html' %}"
];

const PriceURLS = [
    "{% static 'graphs/Elevation at Price.html' %}",
    "{% static 'graphs/Price Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Price.html' %}",
    "{% static 'graphs/Price Gauge Height Table.html' %}"
];

const BismarckURLS = [
    "{% static 'graphs/Elevation at Bismarck.html' %}",
    "{% static 'graphs/Bismarck Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Bismarck.html' %}",
    "{% static 'graphs/Bismarck Gauge Height Table.html' %}",
    "{% static 'graphs/Discharge at Bismarck.html' %}",
    "{% static 'graphs/Bismarck Discharge Table.html' %}",
    "{% static 'graphs/Water Temperature at Bismarck.html' %}",
    "{% static 'graphs/Bismarck Water Temperature Table.html' %}"
];

const SchmidtURLS = [
    "{% static 'graphs/Elevation at Schmidt.html' %}",
    "{% static 'graphs/Schmidt Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Schmidt.html' %}",
    "{% static 'graphs/Schmidt Gauge Height Table.html' %}"
];

const JudsonURLS = [
    "{% static 'graphs/Elevation at Judson.html' %}",
    "{% static 'graphs/Judson Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Judson.html' %}",
    "{% static 'graphs/Judson Gauge Height Table.html' %}",
    "{% static 'graphs/Discharge at Judson.html' %}",
    "{% static 'graphs/Judson Discharge Table.html' %}"
];

const MandanURLS = [
    "{% static 'graphs/Elevation at Mandan.html' %}",
    "{% static 'graphs/Mandan Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Mandan.html' %}",
    "{% static 'graphs/Mandan Gauge Height Table.html' %}",
    "{% static 'graphs/Discharge at Mandan.html' %}",
    "{% static 'graphs/Mandan Discharge Table.html' %}"
];

const BreienURLS = [
    "{% static 'graphs/Elevation at Breien.html' %}",
    "{% static 'graphs/Breien Elevation Table.html' %}",
    "{% static 'graphs/Gauge Height at Breien.html' %}",
    "{% static 'graphs/Breien Gauge Height Table.html' %}",
    "{% static 'graphs/Discharge at Breien.html' %}",
    "{% static 'graphs/Breien Discharge Table.html' %}"
];

const OaheURLS = [
    "{% static 'graphs/Elevation at Oahe.html' %}",
    "{% static 'graphs/Oahe Elevation Table.html' %}",
    "{% static 'graphs/Flow Spill at Oahe.html' %}",
    "{% static 'graphs/Oahe Flow Spill Table.html' %}",
    "{% static 'graphs/Flow Powerhouse at Oahe.html' %}",
    "{% static 'graphs/Oahe Flow Powerhouse Table.html' %}",
    "{% static 'graphs/Flow Out at Oahe.html' %}",
    "{% static 'graphs/Oahe Flow Out Table.html' %}",
    "{% static 'graphs/Tailwater Elevation at Oahe.html' %}",
    "{% static 'graphs/Oahe Tailwater Elevation Table.html' %}",
    "{% static 'graphs/Energy at Oahe.html' %}",
    "{% static 'graphs/Oahe Energy Table.html' %}",
    "{% static 'graphs/Water Temperature at Oahe.html' %}",
    "{% static 'graphs/Oahe Water Temperature Table.html' %}",
    "{% static 'graphs/Air Temperature at Oahe.html' %}",
    "{% static 'graphs/Oahe Air Temperature Table.html' %}"
];

const BigBendURLS = [
    "{% static 'graphs/Elevation at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Elevation Table.html' %}",
    "{% static 'graphs/Flow Spill at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Flow Spill Table.html' %}",
    "{% static 'graphs/Flow Powerhouse at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Flow Powerhouse Table.html' %}",
    "{% static 'graphs/Flow Out at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Flow Out Table.html' %}",
    "{% static 'graphs/Tailwater Elevation at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Tailwater Elevation Table.html' %}",
    "{% static 'graphs/Energy at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Energy Table.html' %}",
    "{% static 'graphs/Water Temperature at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Water Temperature Table.html' %}",
    "{% static 'graphs/Air Temperature at Big Bend.html' %}",
    "{% static 'graphs/Big Bend Air Temperature Table.html' %}"
];

const FortRandallURLS = [
    "{% static 'graphs/Elevation at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Elevation Table.html' %}",
    "{% static 'graphs/Flow Spill at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Flow Spill Table.html' %}",
    "{% static 'graphs/Flow Powerhouse at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Flow Powerhouse Table.html' %}",
    "{% static 'graphs/Flow Out at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Flow Out Table.html' %}",
    "{% static 'graphs/Tailwater Elevation at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Tailwater Elevation Table.html' %}",
    "{% static 'graphs/Energy at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Energy Table.html' %}",
    "{% static 'graphs/Water Temperature at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Water Temperature Table.html' %}",
    "{% static 'graphs/Air Temperature at Fort Randall.html' %}",
    "{% static 'graphs/Fort Randall Air Temperature Table.html' %}"
];

const GavinsPointURLS = [
    "{% static 'graphs/Elevation at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Elevation Table.html' %}",
    "{% static 'graphs/Flow Spill at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Flow Spill Table.html' %}",
    "{% static 'graphs/Flow Powerhouse at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Flow Powerhouse Table.html' %}",
    "{% static 'graphs/Flow Out at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Flow Out Table.html' %}",
    "{% static 'graphs/Tailwater Elevation at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Tailwater Elevation Table.html' %}",
    "{% static 'graphs/Energy at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Energy Table.html' %}",
    "{% static 'graphs/Water Temperature at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Water Temperature Table.html' %}",
    "{% static 'graphs/Air Temperature at Gavins Point.html' %}",
    "{% static 'graphs/Gavins Point Air Temperature Table.html' %}"
];

const GarrisonURLS = [
    "{% static 'graphs/Elevation at Garrison.html' %}",
    "{% static 'graphs/Garrison Elevation Table.html' %}",
    "{% static 'graphs/Flow Spill at Garrison.html' %}",
    "{% static 'graphs/Garrison Flow Spill Table.html' %}",
    "{% static 'graphs/Flow Powerhouse at Garrison.html' %}",
    "{% static 'graphs/Garrison Flow Powerhouse Table.html' %}",
    "{% static 'graphs/Flow Out at Garrison.html' %}",
    "{% static 'graphs/Garrison Flow Out Table.html' %}",
    "{% static 'graphs/Tailwater Elevation at Garrison.html' %}",
    "{% static 'graphs/Garrison Tailwater Elevation Table.html' %}",
    "{% static 'graphs/Energy at Garrison.html' %}",
    "{% static 'graphs/Garrison Energy Table.html' %}",
    "{% static 'graphs/Water Temperature at Garrison.html' %}",
    "{% static 'graphs/Garrison Water Temperature Table.html' %}",
    "{% static 'graphs/Air Temperature at Garrison.html' %}",
    "{% static 'graphs/Garrison Air Temperature Table.html' %}"
];

const FortPeckURLS = [
    "{% static 'graphs/Elevation at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Elevation Table.html' %}",
    "{% static 'graphs/Flow Spill at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Flow Spill Table.html' %}",
    "{% static 'graphs/Flow Powerhouse at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Flow Powerhouse Table.html' %}",
    "{% static 'graphs/Flow Out at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Flow Out Table.html' %}",
    "{% static 'graphs/Tailwater Elevation at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Tailwater Elevation Table.html' %}",
    "{% static 'graphs/Energy at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Energy Table.html' %}",
    "{% static 'graphs/Water Temperature at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Water Temperature Table.html' %}",
    "{% static 'graphs/Air Temperature at Fort Peck.html' %}",
    "{% static 'graphs/Fort Peck Air Temperature Table.html' %}"
  ];

const FortYatesURLS = [
  "{% static 'graphs/Average Air Temperature at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Air Temperature Table.html' %}",
  "{% static 'graphs/Average Relative Humidity at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Relative Humidity Table.html' %}",
  "{% static 'graphs/Average Bare Soil Temperature at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Bare Soil Temperature Table.html' %}",
  "{% static 'graphs/Average Turf Soil Temperature at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Turf Soil Temperature Table.html' %}",
  "{% static 'graphs/Maximum Wind Speed at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Maximum Wind Speed Table.html' %}",
  "{% static 'graphs/Average Wind Direction at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Wind Direction Table.html' %}",
  "{% static 'graphs/Total Solar Radiation at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Total Solar Radiation Table.html' %}",
  "{% static 'graphs/Total Rainfall at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Total Rainfall Table.html' %}",
  "{% static 'graphs/Average Baromatric Pressure at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Baromatric Pressure Table.html' %}",
  "{% static 'graphs/Average Dew Point at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Dew Point Table.html' %}",
  "{% static 'graphs/Average Wind Chill at Fort Yates.html' %}",
  "{% static 'graphs/Fort Yates Average Wind Chill Table.html' %}"
];

const MottURLS = [
  "{% static 'graphs/Average Air Temperature at Mott.html' %}",
  "{% static 'graphs/Mott Average Air Temperature Table.html' %}",
  "{% static 'graphs/Average Relative Humidity at Mott.html' %}",
  "{% static 'graphs/Mott Average Relative Humidity Table.html' %}",
  "{% static 'graphs/Average Bare Soil Temperature at Mott.html' %}",
  "{% static 'graphs/Mott Average Bare Soil Temperature Table.html' %}",
  "{% static 'graphs/Average Turf Soil Temperature at Mott.html' %}",
  "{% static 'graphs/Mott Average Turf Soil Temperature Table.html' %}",
  "{% static 'graphs/Maximum Wind Speed at Mott.html' %}",
  "{% static 'graphs/Mott Maximum Wind Speed Table.html' %}",
  "{% static 'graphs/Average Wind Direction at Mott.html' %}",
  "{% static 'graphs/Mott Average Wind Direction Table.html' %}",
  "{% static 'graphs/Total Solar Radiation at Mott.html' %}",
  "{% static 'graphs/Mott Total Solar Radiation Table.html' %}",
  "{% static 'graphs/Total Rainfall at Mott.html' %}",
  "{% static 'graphs/Mott Total Rainfall Table.html' %}",
  "{% static 'graphs/Average Baromatric Pressure at Mott.html' %}",
  "{% static 'graphs/Mott Average Baromatric Pressure Table.html' %}",
  "{% static 'graphs/Average Dew Point at Mott.html' %}",
  "{% static 'graphs/Mott Average Dew Point Table.html' %}",
  "{% static 'graphs/Average Wind Chill at Mott.html' %}",
  "{% static 'graphs/Mott Average Wind Chill Table.html' %}"
];

const CarsonURLS = [
  "{% static 'graphs/Average Air Temperature at Carson.html' %}",
  "{% static 'graphs/Carson Average Air Temperature Table.html' %}",
  "{% static 'graphs/Average Relative Humidity at Carson.html' %}",
  "{% static 'graphs/Carson Average Relative Humidity Table.html' %}",
  "{% static 'graphs/Average Bare Soil Temperature at Carson.html' %}",
  "{% static 'graphs/Carson Average Bare Soil Temperature Table.html' %}",
  "{% static 'graphs/Average Turf Soil Temperature at Carson.html' %}",
  "{% static 'graphs/Carson Average Turf Soil Temperature Table.html' %}",
  "{% static 'graphs/Maximum Wind Speed at Carson.html' %}",
  "{% static 'graphs/Carson Maximum Wind Speed Table.html' %}",
  "{% static 'graphs/Average Wind Direction at Carson.html' %}",
  "{% static 'graphs/Carson Average Wind Direction Table.html' %}",
  "{% static 'graphs/Total Solar Radiation at Carson.html' %}",
  "{% static 'graphs/Carson Total Solar Radiation Table.html' %}",
  "{% static 'graphs/Total Rainfall at Carson.html' %}",
  "{% static 'graphs/Carson Total Rainfall Table.html' %}",
  "{% static 'graphs/Average Baromatric Pressure at Carson.html' %}",
  "{% static 'graphs/Carson Average Baromatric Pressure Table.html' %}",
  "{% static 'graphs/Average Dew Point at Carson.html' %}",
  "{% static 'graphs/Carson Average Dew Point Table.html' %}",
  "{% static 'graphs/Average Wind Chill at Carson.html' %}",
  "{% static 'graphs/Carson Average Wind Chill Table.html' %}"
];

const LintonURLS = [
  "{% static 'graphs/Average Air Temperature at Linton.html' %}",
  "{% static 'graphs/Linton Average Air Temperature Table.html' %}",
  "{% static 'graphs/Average Relative Humidity at Linton.html' %}",
  "{% static 'graphs/Linton Average Relative Humidity Table.html' %}",
  "{% static 'graphs/Average Bare Soil Temperature at Linton.html' %}",
  "{% static 'graphs/Linton Average Bare Soil Temperature Table.html' %}",
  "{% static 'graphs/Average Turf Soil Temperature at Linton.html' %}",
  "{% static 'graphs/Linton Average Turf Soil Temperature Table.html' %}",
  "{% static 'graphs/Maximum Wind Speed at Linton.html' %}",
  "{% static 'graphs/Linton Maximum Wind Speed Table.html' %}",
  "{% static 'graphs/Average Wind Direction at Linton.html' %}",
  "{% static 'graphs/Linton Average Wind Direction Table.html' %}",
  "{% static 'graphs/Total Solar Radiation at Linton.html' %}",
  "{% static 'graphs/Linton Total Solar Radiation Table.html' %}",
  "{% static 'graphs/Total Rainfall at Linton.html' %}",
  "{% static 'graphs/Linton Total Rainfall Table.html' %}",
  "{% static 'graphs/Average Baromatric Pressure at Linton.html' %}",
  "{% static 'graphs/Linton Average Baromatric Pressure Table.html' %}",
  "{% static 'graphs/Average Dew Point at Linton.html' %}",
  "{% static 'graphs/Linton Average Dew Point Table.html' %}",
  "{% static 'graphs/Average Wind Chill at Linton.html' %}",
  "{% static 'graphs/Linton Average Wind Chill Table.html' %}"
];

const CashURLS = [
  "{% static 'graphs/Gauge Height at Cash.html' %}",
  "{% static 'graphs/Cash Gauge Height Table.html' %}",
  "{% static 'graphs/Discharge at Cash.html' %}",
  "{% static 'graphs/Cash Discharge Table.html' %}"
];

const WakpalaURLS = [
  "{% static 'graphs/Gauge Height at Wakpala.html' %}",
  "{% static 'graphs/Wakpala Gauge Height Table.html' %}",
  "{% static 'graphs/Discharge at Wakpala.html' %}",
  "{% static 'graphs/Wakpala Discharge Table.html' %}"
];

const WhitehorseURLS = [
  "{% static 'graphs/Gauge Height at Whitehorse.html' %}",
  "{% static 'graphs/Whitehorse Gauge Height Table.html' %}",
  "{% static 'graphs/Discharge at Whitehorse.html' %}",
  "{% static 'graphs/Whitehorse Discharge Table.html' %}"
];

const LittleEagleURLS = [
  "{% static 'graphs/Gauge Height at Little Eagle.html' %}",
  "{% static 'graphs/Little Eagle Gauge Height Table.html' %}",
  "{% static 'graphs/Discharge at Little Eagle.html' %}",
  "{% static 'graphs/Little Eagle Discharge Table.html' %}"
];
    </script>

      <script src="{% static 'js/map.js' %}"></script>
      <script src="{% static 'js/openModals.js' %}"></script>

  </body>
</html>