<!doctype html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta name ="viewport" content = "width=device-width, initial-scale=1.0, shrink-to-fit=no"> 
        <title>Standing Rock Foundation</title>
        <link href="HomePage.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <title>Django and matplotlib</title>
    </head>

    <body>
        <div class="nav1">
            <img class="logo" src="https://pictureserver.auctionninja.com/pictureserver/fairlight-estate-sales/auction-images/45/Thumb_Big/15522845_IMG9851.jpeg">
            <a href="HomePage.html">Home</a>
            <a href="AboutUs.html">About Us</a>
            <a href="ContactUs.html">Contact Us</a>
            <a href="Report.html">Report</a>
            <img class="signup logo" src="https://cdn-icons-png.flaticon.com/128/1828/1828391.png">
            <a href="Register.html">Sign Up/In</a>
        </div>
        <div class="welcome message">
            <h1>Taŋyáŋ yahí</h1>
        </div>
        <div class="menu">
            <button>Maps</button>
            <button>Graphs</button>
            <button>Dashboard</button>
            <button>Forecast</button>
        </div>
        <p>Welcome to the Standing Rock Foundation, this website is dedicated to the collection, display, and interpretation of numerous 
           varieties of data collected from the Standing Rock Reservation lands. The website pulls data from # dams, # gauges and # 
           mesonets in the area and is capable of displaying them in several different ways. This site contains an interactive map 
           where you can select any of the sources of data and view monthly graphs of the different data types, a custom graph 
           option where you can graph any data type over any time period as far back as ___. If you find yourself on this website 
           frequently you can create a free account with just an email, this will ____.</p>
    </body>
</html>