<!doctype html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}" >
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/Heading.css' %}">
    {% include "HTML/navbar.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration Form</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600&family=Roboto:wght@600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main class="registration-container">
      <h1 class="registration-title">Register</h1>
      <p class="registration-subtitle">
        Dedicated to displaying high end water quality data.
      </p>
      <form class="registration-form">
        <div class="form-group">
          <label for="email" class="form-label">Enter Email:</label>
          <input type="email" id="email" class="form-input" required />
        </div>
        <div class="form-group">
          <label for="username" class="form-label">Create Username:</label>
          <input type="text" id="username" class="form-input" required />
        </div>
        <div class="form-group">
          <label for="password" class="form-label">Create Password:</label>
          <input type="password" id="password" class="form-input" required />
        </div>
        <div class="form-group">
          <label for="confirm-password" class="form-label"
            >Confirm Password:</label
          >
          <input
            type="password"
            id="confirm-password"
            class="form-input"
            required
          />
        </div>
        <button type="submit" class="register-button">Register</button>
      </form>
      <footer class="contact-info">
        <span>Contact Us For More Questions at</span>
        <a href="mailto:Epics-hdr@ecn.purdue.edu">Epics-hdr@ecn.purdue.edu</a>
      </footer>
    </main>
  </body>
</html>
