body {
    margin: 0;
    padding: 0;
}

.header-bar {
    background-color: #1497ce;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    border-radius: 40px;
}

.header-bar a.active {
    background-color: white;
    color: #1497ce;
    border-radius: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location-board {
    width: 100%;
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.date-picker-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 200px;
}

.date-picker-container label,
.date-picker-container select,
.date-picker-container input {
    display: block;
    margin-bottom: 10px;
}

.date-picker-container .date-inputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.date-picker-container label {
    margin-top: 10px;
}

.date-picker-container button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-picker-container button:hover {
    background-color: #0056b3;
}

.alert-1 {
    padding: 10px;
    color: white;
    background-color: #f44336;
    margin-top: 10px;
    border-radius: 5px;
    display: none;
}