
header {
  width: 90%;
  height: 20px;
  text-align: center;
  padding: 20px;
  display: flex;
  justify-content: right;
  justify-content: space around;
  align-items:right;
  margin-bottom: 1%;
}
html {
  background-color: #ffffff;
  /*background: linear-gradient(to right, #777575, #ffffff);*/
  /*background-image:url("/static/images/buffalo.504ac101a776.jpg");*/
}
button {
  color: #fff;
  background-color: #008D8E;/*#008D8E*/
  padding: 10px 16px;
  font-size: 0.98rem;
  min-width: 64px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer; 
}
a {
  color: #fff;
  background-color: #008D8E;
  padding: 10px 16px;
  font-size: 0.98rem;
  min-width: 64px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}