
  body {
    margin: 0;
    padding: 0;
  }
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }  

.modal {
    /* Position the modal */
    position: fixed;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999; /* Ensure the modal is on top of other elements */
    display: none; /* Hide the modal by default */
    /* Set the width to 1/3 of the screen */
    width: calc(100% / 3);
    /* Add padding to the modal content */
    padding: 20px;
}
/* Center the modal content horizontally */
.modal-content {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    overflow-y: auto;
}
/* Style for the close button */
.close {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
/* Adjust the size of the graphs */
.plotly-graph-div {
    padding: 30px;
    width: 50% !important;
    height: 300px !important;
}

#map-legend {
  position: absolute;
  bottom: 25px;
  right: 50px;
  width: 100px;
  height: 150px;
  z-index: 1;
  background-color: #ffff;
  padding: 10px;
  border: 2px solid rgba(22, 76, 167, 0.6);
  border-radius: 4px;
  z-index: 100;
}

#map-legend h4 {
  margin-top: 0;
}

#map-legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#map-legend li {
  margin-bottom: 8px;
  font-size: 18px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

